.container1 {
    background-color: aqua;
    font-size: large;
}

.container2 {
    background-color: dodgerblue;
    font-size: larger;
}

.container3 {
    background-color: navy;
    font-size: xx-large;
}